name: msys2-build-action-workflow
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
      - 'c*'
      
permissions:
    contents: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - { sys: mingw64, env: x86_64 }
    runs-on: windows-latest
    env:
      libraryName: gprolog
    defaults:
      run:
        shell: msys2 {0}
    name: MinGW-w64
    steps:
    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: ${{matrix.sys}}
        update: true
        install: >-
          git
          make
          base-devel
          gcc
          mingw-w64-${{matrix.env}}-toolchain
          mingw-w64-${{matrix.env}}-yasm
        pacboy: >-
          toolchain:p
          cmake:p
          ninja:p
          libunwind:p

  #  ref: 'v1.5.0'
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        repository: 'dirkarnez/gprolog'
        path: 'gprolog'

    - run: |
        cp ${RUNNER_TEMP}/msys64/mingw64/bin/yasm.exe ${RUNNER_TEMP}/msys64/mingw64/bin/yasm-win64.exe

  #  --disable-linedit  --disable-piped-consult 
    - working-directory: '${{ env.libraryName }}/src'
      run: |
        echo $MSYSTEM
        echo $PATH
        ./configure --help && \
        ./configure --disable-gui-console --prefix="$(pwd)/installation" && \
        make && \
        make install && \
        ls

    - name: Archive Release
      uses: thedoctor0/zip-release@master
      with:
        type: 'zip'
        directory: "${{ env.libraryName }}/src/installation"
        filename: "${{ env.libraryName }}-${{ github.ref_name }}-${{matrix.sys}}-${{matrix.env}}.zip"
      
    - name: Release prebuilt
      uses: ncipollo/release-action@v1
      with:
        artifacts: "${{ env.libraryName }}/src/installation/${{ env.libraryName }}-${{ github.ref_name }}-${{matrix.sys}}-${{matrix.env}}.zip"
        allowUpdates: true
        token: ${{ secrets.GITHUB_TOKEN }}
